html{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    overflow: hidden;
}

.calculatorButtons,
.operators,
#clear{
    color: white;
    background-color: black;
    border: solid 1px grey;
    font-family: 'Michroma', sans-serif;

}

.userInputBox{
    color: white;
    font-size: 2rem;
    word-wrap: break-word;
    word-break: break-word;
    border: solid 1px grey;
    font-family: 'Michroma', sans-serif;
    color: rgb(5, 192, 192);
    height: 150px;
    width: 500px;
    text-align: center;
}
button{
    background-color: grey;
    font-size: 2rem;
}

button:hover,
#clear:hover{
    background-color: teal;
    color: black;
    border: solid 1px black;
}


#calculator{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: solid 1px grey;
    justify-content: center;
    width: 500px;
}

#span-two{
    grid-column: span 2;
}

#span-three{
    grid-column: span 3;
}

#clear{
    grid-column: span 3;
}